.app {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

a {
  color: inherit;
}

a:hover {
  color: hotpink;
}

.loading-message {
  font-size: calc(10px + 2vmin);
  color: white;
  height: 100%;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  padding: 0;
  margin: 0;
}

.loading-message p {
  margin-top: 30px;
}

.title {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.title h1 {
  font-size: calc(60px + 2vmin);
  margin-bottom: 10px;
}

.title h3 {
  font-size: calc(14px + 2vmin);
  margin-bottom: 8px;
}

.title p {
  font-size: calc(10px + 1vmin);
  margin: 0 0 20px 0;
}

/* .start-btn {
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
} */

/* .start-btn {
  display: inline-block;
  padding: 0.46em 1.6em;
  border: 0.1em solid #000000;
  margin: 0 0.2em 0.2em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #000000;
  text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
  background-color: #FFFFFF;
  text-align: center;
  transition: all 0.15s;
} */

.start-btn {
  display: inline-block;
  padding: 0.5em 3em;
  border: 0.16em solid #FFFFFF;
  margin: 0 0.3em 0.3em 0;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #353c44;
  text-align: center;
  transition: all 0.15s;
}

.start-btn:hover{
  color: #000000;
  border-color: #DDDDDD;
}

.start-btn:active{
  color: #BBBBBB;
  border-color: #BBBBBB;
}

.games-box {

}

.game-box {

}
/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
