.app {
  text-align: center;
}

a {
  color: inherit;
}

a:hover {
  color: hotpink;
}

.loading-message {
  background-color: rgba(0,0,0,0.3);
  bottom: 0;
  color: white;
  font-size: calc(10px + 2vmin);
  height: 100%;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.loading-message p {
  margin-top: 30px;
}

.title {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
}

.title h1 {
  font-size: calc(60px + 2vmin);
  margin-bottom: 10px;
}

.title h3 {
  font-size: calc(14px + 2vmin);
  margin-bottom: 8px;
}

.title p {
  font-size: calc(10px + 1vmin);
  margin: 0 0 20px 0;
}

.start-btn {
  border: 0.16em solid #FFFFFF;
  color: #353c44;
  display: inline-block;
}

.btn {
  border-radius: 10px;
  font-weight: 400;
  margin: 0 0.3em 0.3em 0;
  padding: 0.5em 3em;
  text-align: center;
  transition: all 0.15s;
}

.start-btn:hover{
  border-color: #DDDDDD;
  color: #000000;
}

.start-btn:active{
  border-color: #BBBBBB;
  color: #BBBBBB;
}

.games-box {

}

.game-box {
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  bottom: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  margin: 0;
  padding: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}
