.game {
  align-items: center;
  background: url(https://cdn.hipwallpaper.com/i/58/37/SQq0dP.jpg) no-repeat fixed center;
  background-color: #FFFFFF;
  background-size: 70% 400px;
  flex-direction: column;
  height: 400px;
  justify-content: center;
  width: 70%;
  z-index: 3;
}

.start-text-area {
  height: 100%;
  position: relative;
  width: 100%;
}

.start-text-area:hover {
  cursor: pointer;
}

.ready-text {
  font-size: calc(24px + 2vmin);
  font-style: italic;
  margin-top: 0;
  padding-top: 74px;
}

.quiz-begin-text {
  font-size: calc(16px + 2vmin);
  margin-top: 66px;
}

.click-anywhere-text {
  font-size: calc(10px + 2vmin);
  margin-top: 38px;
}
