.full {
  height: 100%;
  width: 100%;
  transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
}

.question:hover {
  cursor: pointer;
}

.question-count {
  margin-top: 0;
  padding-top: 56px;
}

.category-display {
  font-size: calc(10px + 2vmin);
  margin: 0 0 40px 0;
}

.category-name {
  font-size: calc(8px + 2vmin);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.full h5 {
  font-size: calc(10px + 2vmin);
  left: 15%;
  line-height: 30px;
  max-width: 70%;
  padding-bottom: 42px;
  position: relative;
}

.answer-btn {
  background-color: #c8d8e8;
  border-radius: 10px;
  color: #353c44;
  width: 150px;
}

.answer-btn:hover{
  background-color: #b0bfce;
  border-color: #DDDDDD;
}

.answer-btn:active{
  border-color: #BBBBBB;
  color: #FFFFFF;
}

.left-btn {
  margin-right: 50px;
}

.did-you-know {
  margin-bottom: 12px;
}
