.question {
  height: 100%;
  width: 100%;
}

.question-box {
  height: 100%;
  width: 100%;
}

.question-box:hover {
  cursor: pointer;
}

.answer-box {
  height: 100%;
  width: 100%;
}

.question-count {
  margin-top: 0;
  padding-top: 56px;
}

.category-display {
  font-size: calc(10px + 2vmin);
  margin: 0 0 40px 0;
}

.category-name {
  font-size: calc(8px + 2vmin);
  font-style: italic;
  font-weight: bold;
  text-transform: uppercase;
}

.question h5 {
  font-size: calc(10px + 2vmin);
  line-height: 30px;
  max-width: 70%;
  position: relative;
  left: 15%;
  padding-bottom: 40px;
}

.answer-btn {
  background-color: #c8d8e8;
  display: inline-block;
  padding: 0.5em 3em;
  margin: 0 0.3em 0.3em 0;
  font-family: 'Roboto',sans-serif;
  font-weight: 400;
  color: #353c44;
  width: 150px;
  text-align: center;
  transition: all 0.15s;
}

.answer-btn:hover{
  background-color: #b0bfce;
  border-color: #DDDDDD;
}

.answer-btn:active{
  color: #BBBBBB;
  border-color: #BBBBBB;
}

.left-btn {
  margin-right: 50px;
}

.did-you-know {
  margin-bottom: 13px;
}
